

h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(239, 236, 235) 0%,
    rgba(249, 211, 180, 0) 100%
  );

}
.navbar{
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  grid-column: span 12;
}
.navbar ul {
  max-width: 30%;

}
.navbar ul li {
  font-size: larger;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, white,rgb(243, 226, 160)  );
}
ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  
}
h2{
  font-size: 1.9em;
  margin: 10px;
}
li{
  margin: 10px auto;
  padding: 10px;
  list-style: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer ;
  background-color: rgb(153, 147, 59);
} 
li button{
  border: none;
  background-color: rgb(153, 147, 59);
}
.container {
max-width: 90%;
margin: 10px auto;
display: grid;
grid-template-columns: repeat(12 ,1fr);
gap: 10px
}
.h2-favourite{
  grid-column: span 11;
}
.item-card{
  padding: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  justify-content: space-between;
  border: 1px solid black;
}
.favourite{
  margin: 20px;
  max-width: 10%;
}
.img-container{
  padding: 10px ;
  margin: 10px auto ;
max-width: 60%;
max-height: 60%;


}
img{
 max-width: 100%;
 max-height: 100%;
}
.detail-container{
max-height: 30%;
width: 80%;
padding: 10px ;
}
 p {
  max-height: 100%;
  font-size: large;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}
.description{
 max-width: 80%;
 margin: 10px auto;
}
.details img{
  max-width: 50%;
  margin: 10px;
}
@media (max-width:650px) {
.item-card{
  grid-column: span 6;
}
nav{
  flex-direction: column;
}
ul{
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}
}
@media (max-width:400px) {
  .item-card{
    grid-column: span 12;
  }
  nav{
    flex-direction: column;
  }
  ul{
    width: 100%;
    justify-content: space-around;
    gap: 10px;
  }
  }


